* {
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    background-image: url("img/patt.png");
    < !-- background-repeat: no-repeat;
    background-position: 100px 50px;
    -->
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row:after,
.menu:after {
    content: "";
    display: block;
    clear: both;
}

.col-md-3 {
    width: 25%;
}

.col-md-6 {
    width: 50%;
}

[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    padding: 25px 0;
    background-color: rgba(255, 255, 255, 0.75);
}

.menu li {
    width: 25%;
    float: left;
    border-left: 1px solid #2c71b8;
}

.menu li:last-child {
    border-right: 1px solid #2c71b8;
}

.menu a {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 21px;
    color: #2c71b8;
    font-weight: 300px;
}

.menu a:hover {
    background-color: #2c71b8;
    color: white;
}

.open-menu a {
    width: 285px;
    background-color: #2c71b8;
    color: white;
}

.open-menu {
    display: none;
    position: absolute;
    z-index: 100;
}
.submenu:hover .open-menu{
    display: block;
}
.open-menu a:hover {
    background-color: rgba(255, 255, 255, 0.75);
    color: #2c71b8;
}